body {
  font-family: Arial;
}

path {
  fill: none;
}

path.base {
  stroke: #dd2222;
}

path.offset {
  stroke: #22dd22;
}

path.polygon {
  stroke: #2222dd;
}

g.intersection circle {
  fill: #5555ff;
}

a.btn {
  border: 1px solid #dddddd;
  padding: 10px;
  margin: 1px;
  background-color: #ffffff;
  display: inline-block;
  transition: background-color 0.2s;
  text-decoration: none;
  color: #444466;
  font-size: 0.75em;
}
a.btn:hover {
  background-color: #dddddd;
}
a.btn.active {
  color: #222266;
  background-color: #8888ff;
}
a.btn.ready {
  background-color: #ffffff;
}
